<br>
<div class="white_box">

  <hr><h2>Log in as a retailer</h2><hr>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table>
      <tr class="field" >
        <th><%= f.label :email %></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email@email.jp" %></td>
      </tr>
      <tr class="field" >
        <td><%= f.label :password %></td>
        <th><%= f.password_field :password, autocomplete: "current-password", placeholder: "password" %></th>
      </tr>
    </table><br>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-warning' %>
    </div>
  <% end %>

  <%= render "retailers/shared/links" %><br><br>
  <%= link_to '出品企業として登録はこちら', new_retailer_registration_path, class:'btn btn-success btn-sm' %> |
  <%= link_to 'Guest Retailerとしてログイン', retailers_guest_sign_in_path, method: :post, class:'btn btn-outline-info btn-sm' %><br><br>

</div>
