<html>
  <head>
    <title>FitsME</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid toppage">

      <!-- <video src="video.mp4"></video> -->
      <div class="toppage_content" >
        <%= image_tag 'FitsME.png' %><br><br><br>

        <p>この服わたしに似合うのかな・・？</p>
        <p>実際の生地感とかサイズ感どんなだろう？？</p><br>

        <h4>Fits MEでは、</h4>
        <h4>服を<strong>購入した方からのレビュー</strong>を参考にして</h4>
        <h4>自分にピッタリ似合うお洋服を探して購入することができます</h4><br>

        <p>自分に似た体型の人のレビューを参考に</p>
        <p>オンラインショッピングを楽しみましょう！</p>

        <br><%= link_to 'Getting started!!', clothes_path, class:"btn btn-warning" %>
      </div>
    </div>
  </body>
</html>
