<html>
  <head>
    <title>FitsME</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <h5 class ="toppage_title">
      <%= image_tag 'FitsME.png' %><br><br><br>

      <strong>この服わたしに似合うのかな・・？<br><br>
      実際の生地感とかサイズ感って、どんなだろう・・？？</strong></h5><br>
      <div class="scrolldown4"><span>Scroll</span></div>
    </header>

    <div class="toppage" id="container">
      <!-- <video src="video.mp4"></video> -->
      <!-- <div class="toppage_content" > -->

      <h4>「もうOnline Shoppingで失敗したくない！」</h4>

      <br><br><h4><strong>Fits ME</strong>&ensp;は、そんな方々のために作られました</h4><br><br><br>

      <h4>Fits MEでは、服を&ensp;<strong>購入した方からのレビュー</strong>&ensp;を参考にして</h4>
      <h4>自分にピッタリ似合うお洋服を探し、購入することができます。</h4><br><br>

      <h5>自分に似た体型の方のレビューや画像を参考に</h5>
      <h5>Online Shoppingを楽しみましょう！</h5><br>

      <br><%= link_to 'Getting started!!', clothes_path, class:"btn btn-warning" %>
    </div>
  </body>
</html>
