<html>
  <head>
    <title>FitsME</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <p class='toppage_logo'><%= link_to image_tag('FitsME1.png'), clothes_path %></p>
      <div class="row">
        <div class="slidebox_letter col-md-6">
          <h1 class="toptext"><strong>
            <span class="c1">F</span>
            <span class="c6">i</span>
            <span class="c3">t</span>
            <span class="c5">s</span>
            <span class="c7">&thinsp;</span>
            <span class="c4">M</span>
            <span class="c2">E</span></strong>
          </h1>
          <div class="animate__animated animate__fadeInUp animate__slow animate__delay-2s">
            <h4>「Online Shoppingで失敗」はイマドキじゃない</h4><br>
            <h4>Become your best self.</h4>
            <h4></h4>
          </div>
        </div>

        <div id="carouselExampleSlidesOnly" class="carousel slide col-md-5" data-ride="carousel" data-interval="3000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card card_top">
                <%= image_tag 'clothes_8.jpg', class:'top_image d-block w-10', alt:"First slide" %>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card card_top">
                <%= image_tag 'clothes14.jpg', class:'top_image d-block w-10', alt:"Second slide" %>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card card_top">
                <%= image_tag 'clothes7.jpg', class:'top_image d-block w-10', alt:"Third slide" %>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card card_top">
                <%= image_tag 'top4.jpg', class:'top_image d-block w-10', alt:"Forth slide" %>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card card_top">
                <%= image_tag 'top5.jpg', class:'top_image d-block w-10', alt:"Fifth slide" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scrolldown4"><span>Scroll</span></div>
    </header>

    <div id="container">
      <div class="toppage"><br>
        <p>この服わたしに似合うのかな・・？</p>
        <p>実際の生地感とかサイズ感って、どんなだろう・・？？</p><br>

        <p>「もうOnline Shoppingで失敗したくない！」</p>

        <br><br><p><%= image_tag('FitsME1.png') %>は、そんな方々のために作られました</p><br>

        <p><%= image_tag('FitsME1.png') %>では、服を&ensp;<b>購入した方からのレビュー</b>&ensp;を参考にして</p>
        <p>自分にピッタリ似合うお洋服を探し、購入することができます。</p><br><br>

        <p>自分に似た体型の方のレビューや画像を参考に</p>
        <p>Online Shoppingを楽しみましょう！</p><br>
      </div><br><br>
      <%= link_to 'Getting started!!', clothes_path, class:"btn btn-warning btn-lg" %>

    </div>
  </body>
</html>
