<h3>お届け先情報</h3><br>
<%= form_with( model: @user, local: true, url: cart_pay_path(@carts.ids) ) do |f| %>

  <hr><h5 class="shipping_address_info">お届け用お名前</h5>
  <div class="field">
    <%= f.label :姓 %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :名 %>
    <%= f.text_field :last_name %>
  </div><hr>

  <h5 class="shipping_address_info">お届け先</h5>
  <div class="field">
    <%= f.label :postcode, '郵便番号' %>
    <%= f.text_field :postcode, id: 'user_postcode' %><br>
  </div>
  <div class="field">
    <%= f.label :prefecture_name, '都道府県' %>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %><br>
  </div>
  <div class="field">
    <%= f.label :address_city, '市区町村' %>
    <%= f.text_field :address_city %><br>
  </div>
  <div class="field">
    <%= f.label :address_street, '番地' %>
    <%= f.text_field :address_street %><br>
  </div>
  <div class="field">
    <%= f.label :address_building, '建物' %>
    <%= f.text_field :address_building %><br>
  </div><hr>

  <%= f.submit "注文内容の確認画面へ" %><br>
<% end %>
