<article>
  <hr><h3>about me</h3><hr>

  <table>
    <tr>
      <th>User name：</th>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <th>メールアドレス：</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>お誕生日：</th>
      <td><%= @user.birthday %></td>
    </tr>
    <tr>
      <th>保有ポイント：</th>
      <td><%= @user.points %>ポイント</td>
    </tr>
  <table><hr>

  <strong><h4>レビュー用情報</h4></strong><hr>
  <table>
    <tr>
      <th>身長</th>
      <th>体重</th>
      <th>ウエスト</th>
      <th>バスト</th>
      <th>ヒップ</th>
    </tr>
    <tr>
      <td><%= @user.height %>cm</td>
      <td><%= @user.weight %>kg</td>
      <td><%= @user.waist %>cm</td>
      <td><%= @user.bust %>cm</td>
      <td><%= @user.hip %>cm</td>
    </tr>
  <table>

  <div>
    <% if @addresses.present? %>
      <% n = 0 %>
      <% @addresses.each do |address| %>
        <hr><h4>お届け先情報 <%= n += 1 %> </h4><hr>
        <table>
          <tr>
            <th>お名前：</th>
            <td><%= address.last_name %><%= address.first_name %></td>
          </tr>
          <tr>
            <th>郵便番号：</th>
            <td><%= address.postcode %></td>
          </tr>
          <tr>
            <th>住所：</th>
            <% pref = JpPrefecture::Prefecture.find(address.prefecture_code) %>
            <td><%= pref.name if address.prefecture_code %> <%= address.address_city %>
              <%= address.address_street %> <%= address.address_building %></td>
          </tr>
          <tr>
            <th>電話番号：</th>
            <td><%= address.phone_number %></td>
          </tr>
        </table>
        <%= link_to 'このお届け先を削除', address_path(id: address.id), method: :delete, class: 'btn btn-outline-danger' %>
      <% end %><hr>
      <% else %>
        <hr><h4>お届け先情報1 </h4><hr>
        <p>お届け先情報はまだ登録されていません。</p>
    <% end %>
  </div>

  <%= link_to 'Edit the profile', edit_user_registration_path, class: "btn btn-outline-info" %>
</article>
