
<h2>ブランド詳細</h2>

<div class="retailer_info">
  <h5>Company Name：</h5>
  <%= @retailer.name %>
  <h5>ショップ情報：</h5>
  <%= @retailer.description %>
  <h5>ロゴ：</h5>
  <%= image_tag @retailer.logo.variant(resize: "150x150") if @retailer.logo.attached?  %>
  <h5>Website URL：</h5>
  <%= @retailer.website_url %>
</div>
<br>

<% if current_retailer == @retailer %>
  <div>
    <h6>-----下記は管理用となりますので、ウェブでは公開されません。-----</h6>
    <h5>メールアドレス：</h5>
    <%= @retailer.email %>
    <h5>電話番号：</h5>
    <%= @retailer.phone_number %>
    <h5>住所：</h5>
    <%= @retailer.address %>
  </div>

  <br>
  <%= link_to 'Edit the profile', edit_retailer_registration_path %>
<% end %>

<%= link_to 'Back', clothes_path %>
