<br><div class="white_box">

  <hr><h3>ブランド詳細</h3><hr>

  <% if current_retailer == @retailer %>
    <div><hr>
      <h6>こちらは管理用となりますので、ウェブでは公開されません。</h6>
      <table>
        <tr>
          <th>メールアドレス：</th>
          <td><%= @retailer.email %></td>
        </tr>
        <tr>
          <th>電話番号：</th>
          <td><%= @retailer.phone_number %></td>
        </tr>
        <tr>
          <th>住所：</th>
          <td><%= @retailer.address %></td>
        </tr>
      </table>
      <hr>
    </div>
  <% end %>

  <table class="retailer_info row text_left">
    <tr class="row">
      <th class="col-md-12"><%= image_tag @retailer.logo.variant(resize: "250x250") if @retailer.logo.attached?  %></th>
    </tr>
    <tr class="row">
      <th class="col-md-1 offset-md-1"><i class="fas fa-building"></i></th>
      <td class="col-md-9"><strong><%= @retailer.name %></strong></td>
    </tr>
    <tr class="row">
      <th class="col-md-1 offset-md-1"><i class="fas fa-laptop"></i></th>
      <td class="col-md-9"><%= @retailer.website_url %></td>
    </tr>
    <tr class="row">
      <th class="col-md-1 offset-md-1"><i class="fas fa-pencil-alt"></i></th>
      <td class="col-md-9"><%= @retailer.description %></td>
    </tr>
  </table><br>
</div><br><br>

<div class="row">

  <% @retailer.clothes.each do |clothe| %>
    <div class="index_clothes col-sm-6 col-md-3">

      <div class="card">
        <%= link_to image_tag(clothe.images.first.variant(combine_options:{gravity: :center, resize:"385x575^", crop:"385x575+0+0"})),
            clothe_path(clothe.id), class:"card-img-top"  %>

        <div class="card-body">
          <p class="card-text"><%= link_to clothe.retailer.name, retailers_path(clothe.retailer.id) %><br>
            <%= link_to clothe.name, clothe_path(clothe.id) %><br>
            ¥<%= clothe.price.to_s(:delimited) %></p>
          <table>
            <tr>
              <% if current_retailer == clothe.retailer %>
                <td><%= link_to 'edit', edit_clothe_path(clothe.id), class: 'btn btn-outline-success btn-sm' %></td>
                <td><%= link_to 'delete', clothe_path(clothe.id), method: :delete, data:{ confirm:'本当に削除してよろしいですか？' },
                   class: 'btn btn-outline-danger btn-sm' %></td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>

    </div>
  <% end %>

</div><br>

<%= link_to 'Back', clothes_path, class: "btn btn-outline-info" %>

<% if current_retailer == @retailer %>
   | <%= link_to 'Edit the profile', edit_retailer_registration_path, class: "btn btn-outline-success" %><br><br>
  <%= link_to '退会する', retailer_registration_path, method: :delete, class: "btn btn-outline-danger",
     data:{ confirm:'Are you sure you want to delete your account?'} %>
<% end %>
