<article>
  <%= form_with(model: @clothe, local: true) do |form| %>

    <% if clothe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(clothe.errors.count, "error") %> prohibited this clothes from being saved:</h2>
        <ul>
        <% clothe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="actions">
      <div class="form-group row">
        <%= form.label :アイテム名, class: "col-sm-2 col-form-label" %><br>
        <%= form.text_field :name, class: "col-sm-10 form-control" %>
      </div>

      <div class="form-group row">
        <%= form.label :アイテム詳細, class: "col-sm-2 col-form-label" %><br>
        <%= form.text_area :description, class: "col-sm-10 form-control" %>
      </div>

      <div class="form-group row">
        <%= form.label :Price, class: "col-sm-2 col-form-label" %><br>
        <%= form.number_field :price, class: "col-sm-10 form-control" %>
      </div>

      <!-- <div class="form-group row">
        <%# <%= form.label :category,'カテゴリ選択', class: "col-sm-2 col-form-label" %> %>
        <%# <%= form.select :category_id, Category.all.first(3).collect { |p| [ p.name, p.id ] }, { include_blank: '選択してください' }, class: "col-sm-10 form-control" %> %>
      </div> -->
      <div class="form-group row">
        <%= form.label :category,'カテゴリ選択', class: "col-sm-2 col-form-label" %>
        <%= form.select :category_id, Category.all.where(ancestry: "1").collect { |p| [ p.name, p.id ] }, { include_blank: '選択してください' }, class: "col-sm-10 form-control" %>
      </div>

      <div class="form-group row">
        <%= form.label :サイズ, class: "col-sm-2 col-form-label" %><br>
        <%= form.text_area :size, class: "col-sm-10 form-control" %>
      </div>

      <div class="field">
        <strong><%= form.label :'Images of the item' %></strong><br>
        <% if clothe.images.attached? %>
          <p>現在登録されている画像（削除するものはチェックしてください）</p>
          <% clothe.images.each do |image| %>
            <%= form.check_box :image_ids, {multiple: true}, image.id, false %>
            <%= image_tag image.variant(resize: "250x250") %>
          <% end %>
        <% end %><br>
        <%= form.file_field :images, multiple: true %>
      </div><br>

      <%= form.fields_for :stocks do |stock| %>
      <table>
        <tr>
          <th><%= stock.label :Size %></th>
          <th><%= stock.label :Color %></th>
          <th><%= stock.label :数量 %></th>
        </tr>
        <tr>
          <td><%= stock.text_field :size %></td>
          <td><%= stock.text_field :color %></td>
          <td><%= stock.text_field :quantity %></td>
        </tr>
      </table>
      <br>
      <% end %>

      <br>
      <%= form.submit %>
    </div>
  <% end %>
</article>
