<form>
  <div class="search_field form-row">
    <%= search_form_for @q do |f| %>
      <%# <%= f.label :name_or_description_or_retailer_name_cont, 'Key Word', class: "col-1.5" %>
      <%= f.search_field :name_or_description_or_retailer_name_cont, placeholder:'キーワード/ブランド名で探す', class:"form-control col-3 offset-1" %>
      <%= f.select :stocks_color_eq, Stock.colors{|key,value| [Stock.colors[key],value]}, {include_blank: '色で探す'}, class:"form-control col-2" %>
      <%= f.select :stocks_size_eq, Stock.sizes{|key,value| [Stock.sizes[key],value]}, {include_blank: 'サイズで探す'}, class:"form-control col-2" %>
      <%= f.search_field :price_lteq, placeholder:'予算で探す (ex:10000)', class:"form-control col-2" %>
      <%= f.submit '検索', class:"btn btn-outline-info" %>&ensp;
    <% end %>
    <%=  link_to '検索条件を解除', clothes_path, class: 'btn btn-outline-success btn-sm col-1' %>
  </div><br>
</form>

<div class="row">

  <div class="side_menu col-md-2 category_bar">
    <% Category.all.order("id ASC").limit(20).each do |category| %>
      <div class="btn-group-vertical dropright">
        <button type="button" class="btn btn-secondary each_category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= category.name %>
        </button>
        <div class="dropdown-menu">
          <% category.children.each do |child| %>
            <button class="dropdown-item" type="button"><%= link_to child.name, category_path(child.id) %></button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-10">
    <div class="row">

      <% @clothes.each do |clothe| %>
        <div class="index_clothes col-sm-6 col-md-3">

          <div class="card">
            <%= link_to image_tag(clothe.images.first.variant(combine_options:{gravity: :center, resize:"385x575^", crop:"385x575+0+0"}).processed),
              clothe_path(clothe.id), class:"card-img-top"  %>

            <div class="card-body">
              <p class="card-text"><%= link_to clothe.retailer.name, retailers_path(clothe.retailer.id) %><br>
                <%= link_to clothe.name, clothe_path(clothe.id) %><br>
                ¥<%= clothe.price.to_s(:delimited) %></p>
              <table>
                <tr>
                  <% if current_retailer == clothe.retailer %>
                    <td><%= link_to 'edit', edit_clothe_path(clothe.id), class: 'btn btn-outline-success btn-sm' %></td>
                    <td><%= link_to 'delete', clothe_path(clothe.id), method: :delete, data:{ confirm:'本当に削除してよろしいですか？' },
                       class: 'btn btn-outline-danger btn-sm' %></td>
                  <% end %>
                </tr>
              </table>
            </div>
          </div>

        </div>
      <% end %>
    </div>
    <%= paginate @clothes %>
  </div>
</div>
