<article class = #row>

  <h1>Fits ME</h1>
  <h5>Go look for your ideal outfits!</h5><br>

  <div class="search_field">
    <%= search_form_for @q do |f| %>
      <%= f.label :name_or_description_or_retailer_name_cont, 'Key Word' %>
      <%= f.search_field :name_or_description_or_retailer_name_cont, placeholder:'キーワードやブランド名で検索' %>

      <%= f.label :stocks_color_eq, '色' %>
      <%= f.select :stocks_color_eq, Stock.colors{|key,value| [Stock.colors[key],value]}, {include_blank: '指定なし'} %>
      <%= f.label :stocks_size_eq, 'サイズ' %>
      <%= f.select :stocks_size_eq, Stock.sizes{|key,value| [Stock.sizes[key],value]}, {include_blank: '指定なし'} %>

      <%# <%= f.label :categories_name_eq, 'カテゴリー' %>
      <%# <%= f.collection_select :categories_name_eq, Category.where.not(id: 0), :id, :name,  include_blank: '指定なし' %>

      <%= f.label :price_lteq, '値段max' %>
      <%= f.search_field :price_lteq, placeholder:'10000' %>
      <%= f.submit '検索' %>
    <% end %>
  </div><br>

  <div class="row">
    <% @clothes.each do |clothe| %>
      <div class="index_clothes col-sm-6 col-md-3">
        <ul>
          <li><%= image_tag clothe.images.first.variant(combine_options:{gravity: :center, resize:"230x345^", crop:"230x345+0+0"}) if clothe.images.attached? %></li>
          <li><%= link_to clothe.retailer.name, retailers_path(clothe.retailer.id) %></li>
          <li><%= link_to clothe.name, clothe_path(clothe.id) %></li>
          <li>¥<%= clothe.price %></li>
          <table>
            <tr>
              <% if current_retailer == clothe.retailer %>
                <td><%= link_to 'edit', edit_clothe_path(clothe.id) %></td>
                <td><%= link_to 'delete', clothe_path(clothe.id), method: :delete, data:{ confirm:'Are you sure' } %></td>
              <% end %>
            </tr>
          </table>
        </ul>
      </div><br>
    <% end %>
  </div>

</article>
