<article class = #row>

  <h1>Fits ME</h1>
  <h5>Go look for your ideal outfits!</h5><br>

  <h5>アイテム検索</h5>
  <%= search_form_for @q, url: search_clothes_path do |f| %>
    <%= f.label :name_cont, 'アイテム名' %>
    <%= f.search_field :name_cont %>
    <%= f.submit '検索' %>
  <% end %>

  <div class="row">
    <% @clothes.each do |clothe| %>
      <div class="index_clothes col-sm-6 col-md-3">
        <ul>
          <li><%= image_tag clothe.images.first.variant(combine_options:{gravity: :center, resize:"230x345^", crop:"230x345+0+0"}) if clothe.images.attached? %></li>
          <li><%= link_to clothe.retailer.name, retailers_path(clothe.retailer.id) %></li>
          <li><%= link_to clothe.name, clothe_path(clothe.id) %></li>
          <li>¥<%= clothe.price %></li>
          <table>
            <tr>
              <% if current_retailer == clothe.retailer %>
                <td><%= link_to 'edit', edit_clothe_path(clothe.id) %></td>
                <td><%= link_to 'delete', clothe_path(clothe.id), method: :delete, data:{ confirm:'Are you sure' } %></td>
              <% end %>
            </tr>
          </table>
        </ul>
      </div><br>
    <% end %>
  </div>

</article>
