<article>

  <h2>アイテム詳細</h2>

  <div class="row">
    <div class="col-md-5">
      <h5>Images：</h5>
      <% if @clothe.images.attached? %>
        <% @clothe.images.each do |image| %>
          <%= image_tag image.variant(resize: "380x380") %>
        <% end %>
      <% end %>
    </div>

    <div class="clothe_info col-md-7">
      <table class = "row">
        <tr>
          <th class="col-md-3">ブランド名：</th>
          <td class="col-md-9"><%= link_to @clothe.retailer.name, retailers_path(@clothe.retailer.id) %></td>
        </tr>
        <tr>
          <th class="col-md-3">アイテム名：</th>
          <td class="col-md-9"><%= @clothe.name %></td>
        </tr>
        <tr>
          <th class="col-md-3">Price：</th>
          <td class="col-md-9">¥<%= @clothe.price %></td>
        </tr>
        <tr>
          <th class="col-md-3">アイテム詳細：</th>
          <td class="col-md-9"><%= @clothe.description %></td>
        </tr>
        <tr>
          <th class="col-md-3">サイズガイド：</th>
          <td class="col-md-9"><%= @clothe.size %></td>
        </tr>
      </table><br>

      <% if @stocks.present? %>
        <table>
          <tr>
            <th>Size</th>
            <th>Color</th>
            <th>在庫</th>
          </tr>
          <% @stocks.each do |stock| %>
            <tr>
              <td class="col-md-3"><%= stock.size %></td>
              <td class="col-md-3"><%= stock.color %></td>
              <td class="col-md-3"><%= stock.quantity %></td>
              <td class="col-md-3"><%= link_to '購入にすすむ', clothe_purchase_path(stock.clothe, stock_id: stock.id) %></td>
            </tr>
          <% end %>
        </table><br>
      <% end %>

      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-outline-danger' %>
      <% else %>
        <%= link_to 'お気に入りする', favorites_path(clothe_id: @clothe.id), method: :post, class: "btn btn-outline-primary" %>
      <% end %>

    </div>
  </div>

  <br>
  <% if current_retailer == @clothe.retailer %>
    <%= link_to 'Edit', edit_clothe_path(@clothe) %> |
  <% end %>
  <%= link_to 'Back', clothes_path %>

</article>
