<hr><h2>アイテム詳細</h2><hr><br>

<div class="row">
  <div class="col-md-5">
    <% if @clothe.images.attached? %>
      <%= image_tag @clothe.images.first.variant(resize: "350x480") %><br><br>
      <% @clothe.images.each do |image| %>
        <span class="img_wrap">
          <%= link_to image_tag(image.variant(resize: "150x150")),image, rel:"lightbox", "data-lightbox":"clothe_images" %>
        </span>
      <% end %>
    <% end %>
  </div>

  <div class="clothe_detail_info col-md-7">
    <table class = "row">
      <tr>
        <th class="col-md-1"><i class="far fa-building"></i></th>
        <td class="col-md-11"><%= link_to @clothe.retailer.name, retailers_path(@clothe.retailer.id) %></td>
      </tr>
      <tr>
        <th class="col-md-1"><i class="fas fa-tshirt"></i></th>
        <td class="col-md-11"><%= @clothe.name %></td>
      </tr>
      <% if @clothe.category_ids.present? %>
        <% @clothe.category_ids.each do |category_id| %>
          <% category = Category.find(category_id) %>
          <tr>
            <th class="col-md-1"><i class="fas fa-tags"></i></th>
            <td class="col-md-11"><%= category.parent.name if category.parent.present? %> /
             <%= link_to category.name, category_path(category_id) %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <th class="col-md-1"><i class="fas fa-yen-sign"></i></th>
        <td class="col-md-11"><strong><%= @clothe.price.to_s(:delimited) %>円（税込み）</strong></td>
      </tr>
      <tr class="item_description">
        <th class="col-md-1"><i class="fas fa-pencil-alt"></i></th>
        <td class="col-md-11"><%= simple_format @clothe.description %></td>
      </tr>
      <tr>
        <th class="col-md-1"><i class="fas fa-ruler"></i></th>
        <td class="col-md-11"><%= simple_format @clothe.size %></td>
      </tr>
    </table>

    <table class="stock_info item_description">
      <tr>
        <th class="col-md-3">Size</th>
        <th class="col-md-3">Color</th>
        <th class="col-md-2">残り</th>
      </tr>
      <% @stocks.each do |stock| %>
        <tr>
          <td class="col-md-3"><%= stock.size %></td>
          <td class="col-md-3"><%= stock.color %></td>
          <% if stock.quantity <= 0 %>
            <td class="col-md-2">0</td>
            <td class="col-md-4">Sorry...Out of stock!</td>
          <% else %>
            <td class="col-md-2"><%= stock.quantity %>点</td>
            <td class="col-md-4"><%= link_to 'Add to Cart', carts_path(stock_id: stock.id), method: :post, class: 'btn btn-warning' %></td>
          <% end %>
        </tr>
      <% end %>
    </table><br>

    <div class="favorite_button">
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(clothe_id: @clothe.id, id: @favorite.id), method: :delete, class: 'btn btn-outline-danger' %>
      <% else %>
        <%= link_to 'お気に入りに追加', favorites_path(clothe_id: @clothe.id), method: :post, class: "btn btn-info" %>
      <% end %>
    </div><br>
  </div>
</div><br><br>

<div class ="reviews_detail">
  <br><h5>Reviews</h5><hr>
  <% if @clothe.reviews.present? %>
    <table>
      <tr>
        <th>User Info</th>
        <th>Clothe Info</th>
        <th>Rating</th>
        <th>Images</th>
      </tr>
      <% @clothe.reviews.each do |review| %>
        <% @stock = Stock.find(review.stock_no) %>
          <tr>
            <td class="col-md-2 body_shape_info">
              <%= review.user.username %>, <%= Date.today.year - review.user.birthday.year %>歳<br>
              Height：<%= review.user.height %>cm<br>
              Weight：<%= review.user.weight %>kg<br>
              Waist：<%= review.user.waist %>cm<br>
              Bust：<%= review.user.bust %>cm<br>
              Hip：<%= review.user.hip %>cm</td>

            <td class="col-md-1 stock_info">
              <%= @stock.size %><br>
              <%= @stock.color %></td>

            <td class="col-md-4 review_info">
              <div id="star-rate-<%= review.id %>"></div>
              <%= review.content %></td>

            <td class="col-md-4 review_image">
              <% if review.images.attached? %>
                <% review.images.each do |image| %>
                  <%= image_tag image.variant(resize: "130x130") %>
                <% end %>
              <% end %></td>

            <% if review.user == current_user %>
              <td><%= link_to 'Edit', edit_clothe_review_path(@clothe.id, review.id, stock_no: @stock.id), class: "btn btn-info btn-sm" %><br><br>
              <%= link_to 'Delete', clothe_review_path(@clothe.id, review.id), method: :delete, data:{ confirm:'Are you sure?'}, class: "btn btn-info btn-sm" %></td>
            <% end %>
            <td><%= link_to 'Detail', clothe_review_path(review.id, clothe_id:@clothe.id, stock_no: @stock.id), class: 'btn btn-outline-info' %></td>
          </tr>

          <script>
          $('#star-rate-<%= review.id %>').empty();
          $('#star-rate-<%= review.id %>').raty({
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rate %>,
          });
          </script>

        <% end %>
      </table>
    <% else %>
    <p>こちらの商品に対するレビューはまだありません。</p>
  <% end %><br>
</div>

<br>
<% if current_retailer == @clothe.retailer %>
  <%= link_to 'Edit', edit_clothe_path(@clothe), class: "btn btn-outline-success" %> |
  <%= link_to 'Delete', clothe_path(@clothe), method: :delete, data:{ confirm:'Are you sure?'}, class: "btn btn-outline-danger"  %> |
<% end %>
<%= link_to 'Back', clothes_path, class: "btn btn-outline-info" %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
