<hr><h2>アイテム詳細</h2><hr><br>

<div class="row">
  <div class="col-md-5 image_field">
    <% if @clothe.images.attached? %>
      <%= image_tag @clothe.images.first.variant(resize: "350x500").processed %><br><br>
      <% @clothe.images.each do |image| %>
        <span class="img_wrap">
          <%= link_to image_tag(image.variant(resize: "150x150").processed),image, rel:"lightbox",
           "data-lightbox":"clothe_images", 'data-toggle':"tooltip", title:"画像を拡大表示する", 'data-placement':"left" %>
        </span>
      <% end %>
    <% end %>
  </div>

  <div class="clothe_detail_info col-md-7 text_right">
    <table class = "row">
      <tr>
        <th class="col-md-1"><i class="far fa-building"></i></th>
        <td class="col-md-11"><%= link_to @clothe.retailer.name, retailers_path(@clothe.retailer.id) %></td>
      </tr>
      <tr>
        <th class="col-md-1"><i class="fas fa-tshirt"></i></th>
        <td class="col-md-11"><%= @clothe.name %></td>
      </tr>
      <% if @clothe.category_ids.present? %>
        <% @clothe.category_ids.each do |category_id| %>
          <% category = Category.find(category_id) %>
          <tr>
            <th class="col-md-1"><i class="fas fa-tags"></i></th>
            <td class="col-md-11"><%= category.parent.name if category.parent.present? %> /
             <%= link_to category.name, category_path(category_id) %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <th class="col-md-1"><i class="fas fa-yen-sign"></i></th>
        <td class="col-md-11"><strong><%= @clothe.price.to_s(:delimited) %>円（税込み）</strong></td>
      </tr>
      <tr class="item_description">
        <th class="col-md-1"><i class="fas fa-pencil-alt"></i></th>
        <td class="col-md-11"><%= simple_format @clothe.description %></td>
      </tr>
      <tr>
        <th class="col-md-1"><i class="fas fa-ruler"></i></th>
        <td class="col-md-11"><%= simple_format @clothe.size %></td>
      </tr>
    </table>

    <table class="stock_info item_description">
      <tr>
        <th class="col-md-1">Size</th>
        <th class="col-md-1">Color</th>
        <th class="col-md-2">在庫</th>
      </tr>
      <% @stocks.each do |stock| %>
        <tr>
          <td class="col-md-1"><%= stock.size %></td>
          <td class="col-md-1"><%= stock.color %></td>
          <% if stock.quantity <= 0 %>
            <td class="col-md-2">0</td>
            <td class="col-md-3">Sorry...Out of stock!</td>
          <% elsif stock.quantity <= 10 %>
            <td class="col-md-2">残り<%= stock.quantity %>点…！</td>
            <td class="col-md-3"><%= link_to 'Add to Cart', carts_path(stock_id: stock.id), method: :post, class: 'btn btn-warning' %></td>
          <% elsif stock.quantity > 10 %>
            <td class="col-md-2">在庫あり</td>
            <td class="col-md-3"><%= link_to 'Add to Cart', carts_path(stock_id: stock.id), method: :post, class: 'btn btn-warning' %></td>
          <% end %>
        </tr>
      <% end %>
    </table><br>

    <div class="favorite_button">
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(clothe_id: @clothe.id, id: @favorite.id), method: :delete, class: 'btn btn-outline-danger' %>
      <% else %>
        <%= link_to 'お気に入りに追加', favorites_path(clothe_id: @clothe.id), method: :post, class: "btn btn-success" %>
      <% end %>
    </div><br>
  </div>
</div><br><br>

<div class ="reviews_detail container" id="pagenate">
  <br><h5>Reviews</h5><hr>
  <% if @reviews.present? %>
    <form>
      <div class="form-row">
        <%= form_with local:true, url:clothe_path, method: 'get' do |f| %>
          <%= f.select :size_search, @clothe.stocks.pluck(:size).uniq, {include_blank: 'サイズで探す'}, class:"form-control col-2 offset-3" %>
          <%= f.select :color_search, @clothe.stocks.pluck(:color).uniq, {include_blank: '色で探す'}, class:"form-control col-2" %>
          <%= f.submit '検索', class:"btn btn-secondary" %>
        <% end %>
      </div>
    </form><br>
    <table>
      <tr>
        <th>User Info</th>
        <th>Clothe Info</th>
        <th>Rating</th>
        <th>Images</th>
      </tr>
      <% @reviews.each do |review| %>
        <% @stock = Stock.find(review.stock_no) %>
          <tr>
            <td class="col-md-2 body_shape_info">
              <%= review.user.username %>, <%= Date.today.year - review.user.birthday.year %>歳<br>
              Height：<%= review.user.height %>cm<br>
              Weight：<%= review.user.weight %>kg<br>
              Waist：<%= review.user.waist %>cm<br>
              Bust：<%= review.user.bust %>cm<br>
              Hip：<%= review.user.hip %>cm</td>

            <td class="col-md-1 stock_info">
              <%= @stock.size %><br>
              <%= @stock.color %></td>

            <td class="col-md-5 review_info">
              <div id="star-rate-<%= review.id %>"></div>
              <%= review.content %></td>

            <td class="col-md-3 review_image">
              <% if review.images.attached? %>
                <% review.images.each do |image| %>
                  <%= image_tag image.variant(resize: "130x130") %>
                <% end %>
              <% end %></td>

            <% if review.user == current_user %>
              <td><%= link_to 'Edit', edit_clothe_review_path(@clothe.id, review.id, stock_no: @stock.id), class: "btn btn-info btn-sm" %><br><br>
              <%= link_to 'Delete', clothe_review_path(@clothe.id, review.id), method: :delete, data:{ confirm:'Are you sure?'}, class: "btn btn-info btn-sm" %></td>
            <% end %>
            <td><%= link_to 'Detail', clothe_review_path(review.id, clothe_id:@clothe.id, stock_no: @stock.id), class: 'btn btn-outline-info' %></td>
          </tr>

          <script>
          $('#star-rate-<%= review.id %>').empty();
          $('#star-rate-<%= review.id %>').raty({
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rate %>,
          });
          </script>

        <% end %>
      </table>
      <%= paginate @reviews, remote: true %>
    <% else %>
    <p>こちらの商品に対するレビューはまだありません。</p>
  <% end %><br>
</div>

<br>
<% if current_retailer == @clothe.retailer %>
  <%= link_to 'Edit', edit_clothe_path(@clothe), class: "btn btn-outline-success" %> |
  <%= link_to 'Delete', clothe_path(@clothe), method: :delete, data:{ confirm:'Are you sure?'}, class: "btn btn-outline-danger"  %> |
<% end %>
<%= link_to 'Back', clothes_path, class: "btn btn-secondary" %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
<script>$('[data-toggle="tooltip"]').tooltip()</script>
