<article>
  <hr><h3>ご注文の詳細</h3><hr><br>

  <strong><p>ご注文日：<%= l @order.created_at %><p></strong>
  <% shipping_info = current_user.addresses.first %><hr>
  <%# <% shipping_info = current_user.addresses.find(order.shipping_to) %>


  <% @order.bought_stocks.each do |stock| %>
    <% @clothe = stock.clothe %>
    <div class="row">
      <div class="offset-md-1 col-md-3">
        <%= image_tag @clothe.images.first.variant(resize: "180x180") if @clothe.images.attached? %>
      </div>

      <div class="col-md-5">
        <table>
          <tr>
            <th class="col-md-5">ブランド名</th>
            <td class="col-md-7"><%= @clothe.retailer.name %></td>
          </tr>
          <tr>
            <th class="col-md-5">アイテム</th>
            <td class="col-md-7"><%= @clothe.name %></td>
          </tr>
          <tr>
            <th class="col-md-5">サイズ</th>
            <td class="col-md-7"><%= stock.size %></td>
          </tr>
          <tr>
            <th class="col-md-5">カラー</th>
            <td class="col-md-7"><%= stock.color %></td>
          </tr>
          <tr>
            <th class="col-md-5">金額</th>
            <td class="col-md-7"><%= @clothe.price %>円（税込み）</td>
          </tr>
        </table>
      </div>
      <div class="col-md-3">
        <td><%= link_to 'レビューを書いてポイントGet', new_review_path(stock_id: stock.id) %></td>
      </div>
    </div><hr>
  <% end %>

  <p style="text-align:center;"><strong>合計金額：<%= @order.price %> 円（税込み）</strong></p><hr>

  <h5>お届け先情報</h5>
  <table>
    <tr>
      <th>お名前：</th>
      <td><%= shipping_info.last_name %><%= shipping_info.first_name %></td>
    </tr>
    <tr>
      <th>郵便番号：</th>
      <td><%= shipping_info.postcode %></td>
    </tr>
    <tr>
      <th>住所：</th>
      <% pref = JpPrefecture::Prefecture.find(shipping_info.prefecture_code) %>
      <td><%= pref.name %><%= shipping_info.address_city %><%= shipping_info.address_street %><%= shipping_info.address_building %></td>
    </tr>
    <tr>
      <th>お電話番号：</th>
      <td><%= shipping_info.phone_number %></td>
    </tr>
  </table><br><br>

  <%= link_to '注文履歴へ戻る', orders_path %>
</article>
