<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "retailers/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :'Company Name' %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.telephone_field	 :phone_number %>
  </div>

  <div class="field">
    <%= f.label :住所 %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :'website URL（もしあれば）' %><br />
    <%= f.url_field :website_url %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= link_to '出品企業としてログインはこちら', new_retailer_session_path %>

<%# <%= render "retailers/shared/links" %>
