<article>

  <h5>Items in your cart!</h5><br>

  <% @cart.each do |item| %>
    <div class="row">
      <% @clothe = item.stock.clothe %>
      <div class="col-md-3">
        <%= image_tag @clothe.images.first.variant(resize: "180x180") if @clothe.images.attached? %>
      </div>

      <div class="col-md-4">
        <table>
          <tr>
            <th class="col-md-5">ブランド名</th>
            <td class="col-md-7"><%= @clothe.retailer.name %></td>
          </tr>
          <tr>
            <th class="col-md-5">アイテム</th>
            <td class="col-md-7"><%= @clothe.name %></td>
          </tr>
          <tr>
            <th class="col-md-5">サイズ</th>
            <td class="col-md-7"><%= item.stock.size %></td>
          </tr>
          <tr>
            <th class="col-md-5">カラー</th>
            <td class="col-md-7"><%= item.stock.color %></td>
          </tr>
          <tr>
            <th class="col-md-5">金額</th>
            <td class="col-md-7"><%= @clothe.price %>円（税込）</td>
          </tr>
        </table>
      </div>
      <div class="col-md-5">
        <br><br><br>
        <%= link_to 'カートから削除', cart_path(id: item.id), method: :delete %>
      </div>
    </div><br>
  <% end %>

</article>
