<hr><h3>ご注文確認画面</h3><hr><br>

<div class="white_box"><br>
  <h5 style="text-align:center;"><strong>**以下の内容で、購入を確定する。**</strong></h5><hr>

  <h4>お届け先情報</h4><hr>
  <table>
    <tr>
      <th>お名前：</th>
      <td><%= @address.last_name %><%= @address.first_name %></td>
    </tr>
    <tr>
      <th>郵便番号：</th>
      <td><%= @address.postcode %></td>
    </tr>
    <tr>
      <th>住所：</th>
      <% pref = JpPrefecture::Prefecture.find(@address.prefecture_code) %>
      <td><%= pref.name %> <%= @address.address_city %> <%= @address.address_street %> <%= @address.address_building %>
    </tr>
  </table><hr>

  <h4>ご注文商品</h4><hr>
  <%= form_with( model: @carts, local: true, url: cart_complete_path(@carts.ids) ) do |f| %>
  <% @carts.each do |item| %>
    <div class="row">
      <% @clothe = item.stock.clothe %>
      <div class="col-md-2 offset-md-2">
        <%= image_tag @clothe.images.first.variant(resize: "180x180") if @clothe.images.attached? %>
      </div>

      <div class="col-md-4">
        <table>
          <tr>
            <th class="col-md-5">ブランド名</th>
            <td class="col-md-7"><%= @clothe.retailer.name %></td>
          </tr>
          <tr>
            <th class="col-md-5">アイテム</th>
            <td class="col-md-7"><%= @clothe.name %></td>
          </tr>
          <tr>
            <th class="col-md-5">サイズ</th>
            <td class="col-md-7"><%= item.stock.size %></td>
          </tr>
          <tr>
            <th class="col-md-5">カラー</th>
            <td class="col-md-7"><%= item.stock.color %></td>
          </tr>
          <tr>
            <th class="col-md-5">金額</th>
            <td class="col-md-7"><%= @clothe.price.to_s(:delimited) %>円（税込み）</td>
          </tr>
        </table>
      </div>
      <div class="col-md-2">
        <br><br><br>
        <p >個数：<%= item.amount %>点</p>
      </div>
    </div><hr>
  <% end %>

  <h5>お品代：<%= @total_price.to_s(:delimited) %> 円（税込み）</h5>

  <h6>ご利用ポイント数：
    <% if params[:cart][:using_points].blank? %>
      0 pt.</h6><br>
    <% else %>
      <%= params[:cart][:using_points] %> pt.</h6><br>
    <% end %>

  <% pay_price = @total_price - (params[:cart][:using_points]).to_i %>
  <h5 style= "text-decoration: underline;">合計金額：<%= pay_price.to_s(:delimited) %> 円（税込み）</h5><br>
    <% gain_point = pay_price*0.03 %>
  <h6>今回獲得ポイント数：<%= gain_point.round %> pt.</h6><hr>

    <h4>**金額を確認し、下記フォームより決済する</h4>
    <script
      type="text/javascript"
      src="https://checkout.pay.jp"
      class="payjp-button"
      data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>">
    </script>

  <%= f.hidden_field :total_price, value: @total_price %>
  <%= f.hidden_field :used_points, value: params[:cart][:using_points] %>
  <%= f.hidden_field :paid_price, value: pay_price %>
  <%= f.hidden_field :address_id, value: @address.id %>
  <% end %>
  <hr><br>
</div>

<br><%= link_to "カートに戻る", carts_path, class:"btn btn-outline-info" %>
