<article>
  <h3>お届け先情報</h3><br>
  <%= form_with( model: @user, local: true, url: cart_pay_path(@carts.ids) ) do |f| %>
    <h5 class="shipping_address_info">お届け先お名前</h5>
    <div class="field">
      <%= f.label :姓 %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :名 %>
      <%= f.text_field :last_name %>
    </div><hr>

    <h5 class="shipping_address_info">お届け先</h5>
    <div class="field">
      <%= f.label :郵便番号 %>
      <%= f.text_field :zipcode %>
    </div>
    <div class="field">
      <%= f.label :都道府県 %>
      <%= f.text_field :prefecture %>
    </div>
    <div class="field">
      <%= f.label :市区町村 %>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :住所つづき %>
      <%= f.text_field :following_addresse %>
    </div>
    <div class="field">
      <%= f.label :市区町村 %>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :住所つづき %>
      <%= f.text_field :following_addresse %>
    </div><hr>

    <%= f.submit "注文内容の確認画面へ" %><br>
  <% end %>

  <%= link_to "カートに戻る", carts_path %>
</article>
