<%= form_with(model: @review, local: true, url: new_or_edit ) do |form| %>
  <%= form.hidden_field :stock_no, value: @stock.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this clothes from being saved:</h2>
      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <ul class="col-md-3">
      <li><%= image_tag @clothe.images.first.variant(resize: "150x150") if @clothe.images.attached? %></li>
      <li><%= @clothe.retailer.name %></li>
      <li><%= @clothe.name %></li>
      <li><%= @stock.size %>サイズ</li>
      <li><%= @stock.color %></li>
      <li><%= @clothe.price %>円（税込み）</li>
    </ul>

    <div class="col-md-7">
      <table>
        <tr>
          <th class="col-md-4"><%= form.label :Rating %></th>
          <td class="col-md-7"><%= form.text_field :rate %></td>
        </tr>
        <tr>
          <th class="col-md-4"><%= form.label :内容 %></th>
          <td class="col-md-7"><%= form.text_field :content, class: "form-control" %></td>
        </tr>
        <tr>
          <th class="col-md-4 file_upload"><%= form.label :'Images' %></th>
          <% if @review.images.attached? %>
            <% @review.images.each do |image| %>
              <%= image_tag image.variant(resize: "250x250") %>
            <% end %>
          <% end %>
          <td class="col-md-7"><%= form.file_field :images, multiple: true %></td>
        </tr>
      </table>
    </div>
  </div><hr><br>

  <%= form.submit %>
<% end %>
