<br><div class="white_box">
  <hr><h3>レビュー投稿可能なアイテム一覧</h3><hr><br>
  <h5>星評価とテキストコメントで&ensp;100ポイント&ensp;、<br>
  写真付きのレビュー投稿で&ensp;150ポイント&ensp;獲得できます：）</h5><br><hr>

  <% if @bought_item_stock_ids.empty? %>
    <br><br><h5>商品を購入すると、レビューの投稿が可能になります</h5><br>
  <% else %>

    <% @bought_item_stock_ids.each do |stock| %>
      <% stock = Stock.find(stock) %>
      <% @clothe = stock.clothe %>
      <div class="row">
        <div class="offset-md-1 col-md-2">
          <%= image_tag @clothe.images.first.variant(resize: "180x180").processed if @clothe.images.attached? %>
        </div>

        <div class="col-md-5">
          <table>
            <tr>
              <th class="col-md-2"><i class="far fa-building"></i></th>
              <td class="col-md-8"><%= link_to @clothe.retailer.name, retailers_path(@clothe.retailer) %></td>
            </tr>
            <tr>
              <th class="col-md-2"><i class="fas fa-tshirt"></i></th>
              <td class="col-md-8"><%= link_to @clothe.name, clothe_path(@clothe) %></td>
            </tr>
            <tr>
              <th class="col-md-2"><i class="fas fa-ruler"></i></th>
              <td class="col-md-8"><%= stock.size %></td>
            </tr>
            <tr>
              <th class="col-md-2"><i class="fas fa-palette"></i></th>
              <td class="col-md-8"><%= stock.color %></td>
            </tr>
            <tr>
              <th class="col-md-2"><i class="fas fa-yen-sign"></i></th>
              <td class="col-md-8"><%= @clothe.price.to_s(:delimited) %>円（税込み）</td>
            </tr>
          </table>
        </div>
        <div class="col-md-3">
          <br><br>
          <% @review = Review.find_by(user_id:current_user, clothe_id:@clothe.id, stock_no:stock.id ) %>
          <% if @review.present? %>
            <%= link_to '投稿した内容を確認', clothe_review_path(@review.id, clothe_id:@clothe.id, stock_no: stock.id), class: 'btn btn-outline-info' %><br><br>
            <%= link_to 'レビューを編集', edit_clothe_review_path(@review.id, clothe_id:@clothe.id, stock_no: stock.id), class: 'btn btn-outline-success' %>
          <% else %>
            <td><%= link_to new_clothe_review_path(@clothe.id, stock_no: stock.id), class: 'btn btn-success' do %>
                  レビューを書いて<br>ポイントGet <% end %></td>
          <% end %>
        </div>
      </div><hr>
    <% end %>
  <% end %>

  <%= link_to '洋服を探しにいく', clothes_path, class: "btn btn-outline-success" %><hr><br>

</div>
