<br><div class="white_box">
  <hr><h3>レビュー内容詳細</h3><hr><br>

  <div class="row">
    <ul class="col-md-2 offset-md-1">
      <li><%= image_tag @clothe.images.first.variant(resize: "150x180") if @clothe.images.attached? %></li>
      <li><%= link_to @clothe.retailer.name, retailers_path(@clothe.retailer) %></li>
      <li><%= link_to @clothe.name, clothe_path(@clothe) %></li>
      <li><%= @stock.size %>サイズ</li>
      <li><%= @stock.color %></li>
      <li><%= @clothe.price %>円（税込み）</li>
    </ul>

    <div class="col-md-8">
      <div>
        <h5>User Info</h5>
        Age: <%= Date.today.year - @review.user.birthday.year %>,<br>
        Height：<%= @review.user.height %>cm, Weight：<%= @review.user.weight %>kg, Waist：<%= @review.user.waist %>cm,
        Bust：<%= @review.user.bust %>cm, Hip：<%= @review.user.hip %>cm<br><br><br>
      </div>
      <div>
        <div id="star-rate-<%= @review.id %>"></div>
        <%= @review.content %><br><br>
        <p>Images：</p>
        <% if @review.images.attached? %>
          <% @review.images.each do |image| %>
            <%= image_tag image.variant(resize: "250x300") %>
          <% end %>
        <% else %>
          <p>画像は投稿されていません</p>
        <% end %>
      </div>
    </div>
  </div><br><hr>

  <% if current_user == @review.user %>
    <%= link_to 'レビュー投稿の一覧画面へ', users_reviewable_path, class: 'btn btn-outline-info' %> |
    <%= link_to 'レビューを編集', edit_clothe_review_path(@review.id, clothe_id:@clothe.id, stock_no:@stock.id), class: 'btn btn-outline-success' %> |
    <%= link_to 'レビューを削除', clothe_review_path(@review.id), method: :delete,
      data:{ confirm:'本当に削除しますか?'}, class: "btn btn-outline-danger" %><br><br>
  <% else %>
    <%= link_to '服の詳細ページへ戻る', clothe_path(@clothe.id), class: 'btn btn-outline-info' %><br><br>
  <% end %>

  <script>
    $('#star-rate-<%= @review.id %>').empty();
    $('#star-rate-<%= @review.id %>').raty({
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= @review.rate %>,
    });
  </script>
</div>
