<!DOCTYPE html>
<html>
  <head>
    <title>FitsME</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class ="top_manu clearfix">
        <li><%= link_to 'Fits ME', clothes_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'My page', users_show_path %></li>
          <li><%= link_to 'Favorites', favorites_path %></li>
          <li><%= link_to 'Cart', carts_path %></li>
          <li><%= link_to 'Orders', orders_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <% elsif retailer_signed_in? %>
          <li><%= link_to '企業ページ', retailers_path(current_retailer.id) %></li>
          <li><%= link_to '服の登録', new_clothe_path %></li>
          <li><%= link_to '注文管理', retailers_orders_path %></li>
          <li><%= link_to 'Log out', destroy_retailer_session_path, method: :delete %></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to '管理画面', rails_admin_path %></li>
          <li><%= link_to 'Log out', destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Log in', new_user_session_path %></li>
          <li><%= link_to '出品企業として利用', new_retailer_session_path %></li>
        <% end %>
      </ul>
    </header>

    <% if notice %>
      <p class="notice alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert alert-danger"><%= alert %></p>
    <% end %>

    <article>
      <%= yield %>
    </article>

    <footer class="footer">
      <p>Copyright © 2021 FitsME All RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
