<!DOCTYPE html>
<html>
  <head>
    <title>FitsME</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          <strong><%= link_to 'Fits ME', clothes_path %></strong>
          <%= link_to 'My page', users_show_path %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <% elsif retailer_signed_in? %>
          <strong><%= link_to 'Fits ME', clothes_path %></strong>
          <%= link_to 'Company Profile', retailers_show_path %>
          <%= link_to '服の登録', new_clothe_path %>
          <%= link_to 'Log out', destroy_retailer_session_path, method: :delete %>
        <% else %>
          <strong><%= link_to 'Fits ME', clothes_path %></strong>
          <%= link_to 'Sign up', new_user_registration_path %>
          <%= link_to 'Log in', new_user_session_path %>
          <%= link_to '出品企業として利用', new_retailer_registration_path %>

        <% end %>
      </nav>
    </header>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <%= yield %>

  </body>
</html>
