<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :Username %><br />
    <%= f.text_field :username, autofocus: true, placeholder: "username" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", placeholder: "email@email.jp" %>
  </div>

  <div class="field">
    <%= f.label :birthday, 'お誕生日' %><br />
    <%= f.date_select :birthday, start_year: 1940, end_year: (Time.now.year - 10), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%# <%= render "users/shared/links" %>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %><br>
<%= link_to 'Guest Admin（管理者 閲覧用）', admins_guest_sign_in_path, method: :post %>
